<div class="main-bar">
    <img width="80%" src="wtc_logo_w.png" /><br /><br />
    <button id="createStat" onclick="openModal('createInput', 'createStat', 'createClose');" class="button1">Generate Graph</button><br />
    <button onclick="openModal('passFailInput');" class="button1">Pass/Fail Stats</button><br />
    <button onclick="getStatus();" class="button1">Status</button><br />
    <button class="button1" onclick="clean();">Clear</button><br />
</div>